<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisao XD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
    [(ngModel)]="km"
    label="Quilometros"
    labelPlacement="floating"
    placeholder="Digite a quantidade de quilometros na corrida"></ion-input>
    </ion-item>

      <ion-button fill="outline" (click)="Calculo()">Calcular</ion-button>
      <br>
      Valor Total: R$ <ion-label>{{ValorBruto}}</ion-label>
      <br>
      Valor recebido pelo motorista:R$ <ion-label>{{ValorDoMotorista}}</ion-label>
      <br>
      Valor recebido pelo aplicativo:R$ <ion-label>{{ValorDoAPP}}</ion-label>
</ion-content>
