<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisao XD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
    [(ngModel)]="n1"
    label="Primeiro numero"
    labelPlacement="floating"
    placeholder="Digite o primeiro valor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      [(ngModel)]="n2"
      label="Segundo numero"
      labelPlacement="floating"
      placeholder="Digite o segundo valor"></ion-input>
      </ion-item>

      <ion-button fill="outline" (click)="somar()">Somar</ion-button>
      <ion-button fill="outline" (click)="subtrair()">Subtrair</ion-button>
      <ion-button fill="outline" (click)="multiplicar()">Multiplicar</ion-button>
      <ion-button fill="outline" (click)="dividir()">Dividir</ion-button>
      <br>
      <ion-label>{{res}}</ion-label>
</ion-content>
